{% extends 'layout.html' %}

{% block content %}
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="left-text-content">
                    <div class="section-heading">
                    <h6>Descubre los Fondos Mutuos en Chile</h6>
                    <h2>Inversión Inteligente para Crecimiento Financiero</h2>
                 </div>
                    <h2>¿Qué son los Fondos Mutuos?</h2>
                <p>Los Fondos Mutuos en Chile representan una opción de inversión colaborativa, permitiendo a los inversionistas unir sus recursos para acceder a carteras diversificadas de activos financieros.</p>
                <div class="row">
                    <div class="img">
                <div class="section-heading">
                    <h6>Fondos Mutuos</h6>
                        
                <p>Los Fondos Mutuos en Chile ofrecen una oportunidad accesible y diversificada para construir un futuro financiero sólido<br> Estos fondos se forman por los aportes de sus inversionistas o partícipes.<br> El monto invertido por cada uno de ellos está representado por certificados, conocidos como Cuotas. Estos títulos son los que se transan en el mercado para obtener ganancias.</p>
                </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="right-content">
                <div class="row">
                    <div class="img">
                            <img src="/static/css/images/hola.jpg" alt="">
                </div>
            </div>
        </div>
        </div>
        <div class="text">
            <div class="section-heading">
                <h6>Conoce tu deuda</h6>
            </div>
            <p>Ingresa al link: <br> <a href="https://informedeudas.cmfchile.cl/informedeudacb/aplicacion?indice=110.0" target="_blank" rel="sponsored">CMF/Deudas</a> Escriba el RUT de la persona juridica y la clave CMF, y haga clic en "ver informe".Siga las instrucciones que aparecen en pantalla.</p>
  
    </div>
    
</div>
</div>
</div>
</div>
</div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <div class="right-text-content">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="logo">
                    <a href="index.html"><img src="/static/css/images/white-logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12">
                <div class="left-text-content">
                    <p>© Martin & Asoc.
                    <br>Rafita Winx & Inv.
                    <br> Camilo Tapioka WW.
                    <br>  Javi del Flow. 
                    <br> Bayron limpieza.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
