{% extends 'layout.html' %}

{% block content %}
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="left-text-content">
<form id="myForm" method="post">
    <h1>Portafolios Fondos Mutuos</h1>
    <p><br>Los portafolios en los fondos mutuos son la combinación de activos financieros que una entidad posee como parte de su inversión. Su objetivo principal es diversificar los activos para distribuir el riesgo y maximizar el rendimiento.</p>
    <table class="form-table">
        <tr>
            <td>
                <label for="datepicker">Seleccionar Fecha:</label>
            </td>
            <td>
                <input type="text" id="datepicker" name="datepicker" value="{{ fecha_actual}}">
            </td>
        </tr>
        <tr>
            <td>
                <label for="tipos">Seleccionar cartera:</label>
            </td>
            <td>
                <select id="tipos" name="tipos">
                    {% for tipo in tipos %}
                        <option value="{{ tipo }}">{{ tipo }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="fondos">Seleccionar fondo:</label>
            </td>
            <td>
                <select id="fondos" name="fondos">
                    {% for fondo in fondos %}
                        <option value="{{ fondo }}">{{ fondo }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>

    <tr>
        <button class="boton" onclick="submitForm2()">Consultar</button>
    </tr>

    <div class="contenedor">
    {{ html|safe }}
    </div>
</form>
<script>
    function submitForm2() {
        var form = document.getElementById('myForm');
        form.action = '/portafolios';
        form.submit();
    }

    function submitForm() {
        var form = document.getElementById('myForm');
        form.action = '/detalle-fondo';
        form.submit();
    }
    $(document).ready(function() {
        $("#datepicker").datepicker({
            altFormat: 'dd-mm-yy',
            defaultDate: new Date('{{ fecha_actual }}')
        });
    });
</script>
    
</div>
</div>
</div>
</div>
</div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <div class="right-text-content">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="logo">
                    <a href="index.html"><img src="/static/css/images/white-logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12">
                <div class="left-text-content">
                    <p>© Martin & Asoc.
                    <br>Rafita Winx & Inv.
                    <br> Camilo Tapioka WW.
                    <br>  Javi del Flow. 
                    <br> Bayron limpieza.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
