{% extends 'layout.html' %}

{% block content %}
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="left-text-content">
    <form id="myForm" method="post">
        <h2>Rentabilidades Fondos</h2>
        <div class="form-container">
            <div class="form-row">
                <div>
                    <label for="datepicker">Seleccionar Fecha:</label>
                    <input type="text" id="datepicker" name="datepicker" value="{{ fecha_actual}}">
                    <button class="boton" onclick="submitForm2()">Consultar</button>
                </div>
            </div>
            <div class="contenedor">
            {{ html|safe }}
            <div>
        </div>
    </form>

    <script>
        function submitForm(run) {
            // Puedes hacer algo con el valor de run, por ejemplo, imprimirlo
            console.log('Valor de run:', run);
    
            // Ahora puedes usar el valor de run en tu lógica, por ejemplo, cambiar la acción del formulario
            var form = document.getElementById('myForm');
            form.action = '/detalle-fondo/' + run;
            form.submit();
        }

        function submitForm2() {
            var form = document.getElementById('myForm');
            form.action = '/rentabilidades';
            form.submit();
        }

        $(document).ready(function() {
            $("#datepicker").datepicker({
                altFormat: 'dd-mm-yy', // Formato alternativo de visualización (puede ajustarse según tus necesidades)
                defaultDate: new Date('{{ fecha_actual }}') // Utiliza la fecha por defecto proporcionada por Flask
            });
        });

    </script>
</div>
</div>
</div>
</div>
</div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <div class="right-text-content">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="logo">
                    <a href="index.html"><img src="/static/css/images/white-logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12">
                <div class="left-text-content">
                    <p>© Martin & Asoc.
                    <br>Rafita Winx & Inv.
                    <br> Camilo Tapioka WW.
                    <br>  Javi del Flow. 
                    <br> Bayron limpieza.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

    
{% endblock %}
